/* style needs
- a media query
- mobile-first considerations
*/
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body,
html {
  background-color: #73d7cd;
}

form {
  text-align: right;
  padding: 20px;
}

input, button {
  opacity: 0.8;
  font-family: "Quicksand", "Helvetica", sans-serif;
  font-size: 12px;
}

.weather-info {
  margin: 0 auto;
  width: 100%;
}

h1, h2, p {
  text-align: center;
  font-family: "Quicksand", "Helvetica", sans-serif;
  color: #f8f5e9;
}

h2 {
  font-size: 20px;
  color: #545454;
  font-weight: light;
}

.city {
  margin-top: 40px;
}

h1 {
  font-size: 80px;
  margin-top: 40px;
}

.icon {
  display: flex;
  justify-content: center;
}

svg {
  width: 150px;
  height: auto;
}

path {
  stroke: #f8f5e9;
  fill: #f8f5e9;
}


p {
  font-size: 50px;
  margin: 5px 40px;
}

.max-min {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  align-content: center;
}

.forecast {
  display: flex;
  justify-content: space-around;
}
